@page "{targetId}"
@using CA2_Web.Models
@model CA2_Web.Pages.Location.DetailsModel
@{
    ViewData["Title"] = Model.Location.Name;
    string locationImgUrl = Model.ImgBaseUrl + Model.Location.Image + ".jpg";
}

<div class="container-fluid row">
    <div class="col-md-6">
        <h2 class="mt-0">@Model.Location.Name</h2>
    </div>
    <div class="col-md-6 text-right">
        @if (Model.IsAdmin)
        {
        <form method="post">
            <input type="text" style="display:none;" value="deleteLocation" name="postType" />
            <input type="text" style="display:none;" value="@Model.Location.Id" name="targetLocationId" />
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
        }
    </div>
</div>
<hr />
<div id="pageLoader" class="container d-flex justify-content-center">
    <img src="~/images/Loader.gif" />
</div>
<div id="pageContent" class="container" style="display:none; min-width:560px;">
    @if (Model.ShowMessage)
    {
        <div class="alert @Model.Message.Split('|')[0] alert-dismissible fade show" role="alert">
            @Model.Message.Split('|')[1]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        Model.Message = "";
    }

    <img src="@locationImgUrl" style="width:100%; object-fit:contain;" />
    <br /><br /><br /><br />

    <h4>Rooms</h4>
    <hr />
    <div class="row">
        @foreach (Room room in Model.Rooms)
        {
            <div class="card" style="display:none; width:100%; margin:10px 0px 10px 0px;" id="@room.Id">
                <div class="card-body">
                    <h5 class="card-title float-left">@room.Name</h5>
                    <div class="card-text">
                        <a style="margin:0px 10px 0px 10px;" href="Room/Index/@room.Id" class="btn btn-outline-info float-right">
                            View Room Details
                        </a>
                        @if (Model.IsAdmin)
                        {
                            <form method="post">
                                <input type="text" style="display:none;" value="deleteRoom" name="postType" />
                                <input type="text" style="display:none;" value="@room.Id" name="targetRoomId" />
                                <button style="margin:0px 10px 0px 10px;" class="btn btn-outline-danger float-right">
                                    Delete Room
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }

        @foreach (Room room in Model.Rooms)
        {
            <script>
                $("#@room.Id").fadeIn(@Model.ContentFade);
            </script>
            Model.ContentFade += 10;
        }
    </div>

    <script>
    $("#pageLoader").fadeOut(@Model.LoaderFade, function () {
        $(this).remove();
        $("#pageContent").fadeIn(@Model.ContentFade);
    });
    </script>
</div>